body {
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-areas: 
  ". div .";
}

div {
  grid-area: div;
  display: grid;
}

h1 {
  text-align: center;
}

td {
  padding: 0.5em;
  text-align: center;
}