body {
  background-color: lightgray;
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-areas: 
  ". div .";
}

div {
  background-color: antiquewhite;
  padding: 1em;
  grid-area: div;
  display: grid;
  border: thin solid;
  border-radius: 2em;
  box-shadow: 5px 5px 10px gray;
}

h1 {
  text-align: center;
}

td {
  padding: 0.5em;
  text-align: center;
  font-size: 1.1em;
}

.guest:hover {
  background-color: lightgray;
  cursor: pointer;
}