body {
  background-color: lightgray;
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-areas: 
  ". div .";
}

div {
  background-color: antiquewhite;
  padding: 1em;
  grid-area: div;
  display: grid;
  border: thin solid;
  border-radius: 2em;
  box-shadow: 5px 5px 10px gray;
}

h1,
h2,
p {
  text-align: center;
}

td {
  padding: 0.5em;
  text-align: center;
  font-size: 1.1em;
}

section {
  display: grid;
}

p {
  margin: 0;
  padding: 0.5em;
  font-size: 1.1em;
}

button {
  margin-top: 0.5em;
  width: 25%;
  padding: 0.2em;
  justify-self: center;
  border-radius: 1em;
  background-color: darkblue;
  color: white;
  font-size: 1.1em;
}

button:hover {
  cursor: pointer;
  background-color: aqua;
  color: black;
}

.guest:hover {
  background-color: lightgray;
  cursor: pointer;
}